.block {
  max-width: 100vw;

  &.BlockHeader {
    .header {
      display: flex;
      gap: $rem20;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: center;
      align-self: stretch;
      color: white;
      background-color: $black;
      font-family: $passion-one;
      margin: $rem20;

      &>.col {
        flex: 0 0 auto;
      }

      .contact {
        text-align: center;
        height: 100px;
        display: flex;
        flex-flow: row wrap;
        justify-items: center;
        align-content: center;
      }
    }

    .intro {
      padding: $rem20 0;
      font-family: $source-sans-pro;
      font-size: $rem28;
      background: $red;

      .intro-content {
        margin: $rem20;
        text-align: center;
        color: $cream;
      }

      .project-links {
        display: flex;
        gap: $rem20;
        flex-flow: row wrap;
        justify-content: space-around;

        .button {
          color: $red;
          background-color: $gray;
          border-color: $black-50;
        }
      }
    }
  }

  &.BlockPortfolio {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: $cream;
    min-height: 100px;

    .linkWrap {
      flex: 1 1 30%;
      min-width: 200px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: flex-end;

      .icon {
        flex: 1 0 100%;
        margin: 100px auto $rem20;

        &.octocat::after {
            height: 75px;
            width: 100%;
            bottom: 100%;
            left: calc(50% - #{$rem32});
          }

        &.bitbucket::after {
          height: 50px;
          width: 200px;
          bottom: 100%;
          left: -50%;
        }

        &.linkedin::after {
          height: 75px;
          width: 100%;
          bottom: 100%;
          left: calc(50% - #{$rem35});
        }
      }
    }
  }

  &.BlockExperience {
    margin: $rem20;
    display: flex;
    flex-flow: row wrap;
    gap: $rem16;
    justify-content: space-around;
    align-items: center;
    align-self: stretch;

    .wrap-betacanon {
      padding-top: $rem16;

      .betacanon {
        margin-left: 90px;

        &::after {
          height: $rem64;
          width: 90px;
          bottom: 0;
          left: -80px;
        }
      }
    }

    .wrap-projects {
      text-align: center;

      ul {
        margin: $rem20;
        display: flex;
        flex-flow: row wrap;
        gap: $rem16;
        justify-content: space-around;
        align-items: stretch;

        li.item {
          flex: 1 0 30%;
          min-width: 200px;
          text-align: left;
          margin-top: 50px;

          .icon {
            &.golowpro::after, &.textual::after, &.kagedmuscle::after {
              height: $rem40;
              width: 140px;
              bottom: $rem20;
              left: 0;
            }
          }
        }
      }
    }
  }

  &.BlockEducation {
    padding: $rem20;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: $gray;

    &>* {
      flex: 0 1 50%;
      min-width: 400px;
      margin-bottom: $rem16;

      p, h3 {
        color: $black;
      }
    }
  }

  &.BlockFooter {
    .contactBlock {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      align-self: stretch;
      margin-top: $rem20;
    }

    .credit-source {
      margin: $rem57 $rem16 $rem8;

      a, span {
        font-size: $rem12;
      }

      span {
        color: $red;
      }
    }
  }
}