.block {
  max-width: 100vw;

  &.BlockHeader {
    .header {
      display: flex;
      gap: $rem20;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: center;
      align-self: stretch;
      background-color: $black;
      color: white;
      font-family: $passion-one;
      margin: $rem20;

      &>.col {
        flex: 0 0 auto;
      }

      .contact {
        text-align: center;
        height: 100px;
        display: flex;
        flex-flow: row wrap;
        justify-items: center;
        align-content: center;
      }
    }

    .intro {
      padding: $rem20 0;
      font-family: $source-sans-pro;
      font-size: $rem28;
      background: $red;

      .intro-content {
        margin: $rem20;
        text-align: center;
        color: $cream;
      }
    }
  }

  &.BlockPortfolio {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: $cream;
    min-height: 100px;

    .linkWrap {
      flex: 1 1 30%;
      min-width: 200px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: flex-end;

      .icon {
        flex: 1 0 100%;
        margin: 100px auto $rem20;

        &.octocat::after {
            height: 75px;
            width: 100%;
            bottom: 100%;
            left: calc(50% - #{$rem32});
          }

        &.bitbucket::after {
          height: 50px;
          width: 200px;
          bottom: 100%;
          left: -50%;
        }

        &.linkedin::after {
          height: 75px;
          width: 100%;
          bottom: 100%;
          left: calc(50% - #{$rem35});
        }
      }
    }
  }

  &.BlockExperience {
    margin: $rem20;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-self: stretch;
  }

  &.BlockEducation {
    .education {
      background: $black;
      margin: $rem20;
    }
  }

  &.BlockFooter {
    .contactBlock {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      align-self: stretch;
    }

    .credit-source {
      margin: $rem57 $rem16 $rem8;

      a, span {
        font-size: $rem12;
      }

      span {
        color: $red;
      }
    }
  }
}